<h1>Heroes</h1>

<hr>

<div class="row">
    <div class="col-md-12 text-right">

        <button class="btn btn-outline-primary" type="button" name="button" [routerLink]="['/heroe', 'nuevo']">
          Nuevo héroe
      </button>
    </div>

</div>


<div class="row animated fadeIn fast">
    <div class="md-col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Casa</th>
                        <th class="text-right" scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let k of heroes | keys; let i = index">
                        <th>{{ i + 1 }}</th>
                        <td>{{ heroes[k].nombre }}</td>
                        <td>{{ heroes[k].casa }}</td>
                        <td class="text-right">
                            <button class="btn btn-sm btn-outline-success" type="button" name="button" [routerLink]="['/heroe', k ]">
                                    Actualizar
                                </button>
                            <button class="btn btn-sm btn-outline-danger" type="button" name="button" (click)="eliminarHeroe(k)">
                                    Borrar
                                </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="(heroes | keys).length === 0 && !loading" class="alert alert-info" role="alert">
                <strong>No hay más registros</strong>
            </div>

            <div *ngIf="loading" class="alert alert-warning" role="alert">
                <strong>Por favor espere...</strong>
            </div>
        </div>
    </div>
</div>